<h1><%=title%></h1>
<% if(bookinstance){ %>
    <p>Do you really want to delete this book Copy</p>
    <form method="POST">
        <div class="form-group">
            <input type="hidden" id="bookinstanceid" class="form-control" name="bookinstanceid" value="<%=bookinstance.id%>">
            <button class="btn btn-primary" type="submit">Delete</button>
        </div>
    </form>
<% } %>