<h1><%=title%></h1>
<% if(genre_list.length){%>
    <ul>
        <% for(let genre of genre_list){%>
            <li>
                <a href="<%=genre.url%>"><%=genre.name%></a>
            </li>
        <% } %>
    </ul>
<% } %>